<div style="margin: 20px 10px; display: flex; justify-content: space-between; width: 250px">
  <button type="button" {{on "click" this.mirageFetchBlob}}>Mirage Fetch Blob</button>

  <button type="button" {{on "click" this.nativeFetchBlob}}>Native Fetch Blob</button>
</div>